body {
    font-family: inherit;
    /*font-family: "Times New Roman", serif;*/
    padding: 5px 30px;
    font-size: 1em;
    font-weight: 400;
    color: #ecf0f1;
    background-color: #34495e;
}

p{
    padding-bottom: 5px;
}

a {
    color: #3498db;
}

h1, h2, h3, h4, h5, h6 {
    color: #3498db;
    font-weight: bold;
}

h1 {
    font: bold 135% Arial, sans-serif;
    margin-bottom: 0.9em
}

h2 {
    font: bold 95% Arial, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em
}

dl.param dt {
    text-decoration: underline
}

dl.param dd {
    margin-top: 1em;
    margin-bottom: 1em
}

dl.param ul {
    margin-top: 1em;
    margin-bottom: 1em
}

tt, code, kbd {
    font-family: "Courier New", Courier, monospace;
    font-size: 82%
}

div.source {
    margin-top: 1.4em;
    margin-bottom: 1.3em
}

div.source pre {
    display: table;
    border: 1px solid #24246A;
    width: 100%;
    margin: 0em;
    font-family: inherit;
    font-size: 100%
}

div.source code {
    display: block;
    border: 1px solid #C5C5EC;
    background-color: #F0F5FF;
    padding: 6px;
    color: #000000
}

div.doc-source {
    margin-top: 1.4em;
    margin-bottom: 1.3em
}

div.doc-source pre {
    display: table;
    width: 100%;
    margin: 0em;
    font-family: inherit;
    font-size: 100%
}

div.doc-source code {
    display: block;
    background-color: #E0E0E0;
    padding: 4px
}

.kw {
    color: #000080;
    font-weight: bold
}

.str {
    color: #CC0000
}

.cmt {
    color: #008000
}

p.demo {
    text-align: center;
    margin-top: -0.9em
}

a.demo {
    text-decoration: none;
    font-weight: bold;
    color: #0000CC
}

a.demo:link {
    text-decoration: none;
    font-weight: bold;
    color: #0000CC
}

a.demo:hover {
    text-decoration: none;
    font-weight: bold;
    color: #0000FF
}

a.demo:active {
    text-decoration: none;
    font-weight: bold;
    color: #0000FF
}
